@page
@model DroneFuture.App.Frontend.Pages.EmployeeModel
@{
}

<!DOCTYPE html>   <!--  -->
<html lang="es">  <!-- tipo de lenguaje -->
    
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Shipping Drone</title>
    <link rel="stylesheet" href="~/css/estilos5.css" />
    </head> 

<body>

<div class="form-group">

</div>

<div class="alert alert-success" role="alert">
  Ha sido asignado el Encargado
</div>


<a asp-page="./List" class="btn btn-danger">Regresar</a>
</body>
</html>