<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DroneFuture.App.Frontend</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="menu_bar">
                    <h1 class="logo">Shipping<span>Drone</span></h1>
                    <ul>
                    
                        <li>
                             
                            <a asp-area="" asp-page="/Index"><span><i class="fas fa-home"></i></span>Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Clientes/Crear"><span><i class="fas fa-file-signature"></i></span>Solicitar<br/>Pedido</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Clientes/Consulta"><span><i class="fas fa-box-open"></i></span>Consultar estado<br/>del pedido</a>
                        </li>

                        <li>
                            <a asp-area="" asp-page="/Personas/List"><span><i class="fas fa-user-lock"></i></span>Empleado</a>
                        </li>
                    </ul>
                </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ShippingDrone - <a asp-area="" asp-page="/Index">Home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
